{{name}} {{points}}
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Atrybut</th>
            <th>Wartość(/Max)</th>
            <th></th>
            <th>Koszt podniesienia</th>
        </tr>
        <tr>
            <th scope="row">Energia</th>
            <td><span class="stat" id="energy"></span>/<span class="stat" id="maxenergy"></span></td>
            <td><button id="addmaxenergy" class="add">+</button></td>
            <td><span id="penergy" class="price"></span></td>
        </tr>
        <tr>
            <th scope="row">Zdrowie</th>
            <td><span class="stat" id="hp"></span>/<span class="stat" id="maxhp"></span></td>
            <td><button id="addmaxhp" class="add">+</button></td>
            <td><span id="php" class="price"></span></td>
        </tr>
        <tr>
            <th scope="row">Obrażenia</th>
            <td><span class="stat" id="damage"></span></td>
            <td><button id="adddamage" class="add">+</button></td>
            <td><span id="pdamage" class="price"></span></td>
        </tr>
        <tr>
            <th scope="row">Pancerz</th>
            <td><span class="stat" id="armor"></span></td>
            <td><button id="addarmor" class="add">+</button></td>
            <td><span id="parmor" class="price"></span></td>
        </tr>
        <tr>
            <th scope="row">Umiejętności</th>
            <td><span class="stat" id="skill"></span></td>
            <td><button id="addskill" class="add">+</button></td>
            <td><span id="pskill" class="price"></span></td>
        </tr>
        <tr>
            <th scope="row">Złoto</th>
            <td><span class="stat" id="gold"></span></td>
        </tr>
</table>

<script>
    var energy = {{ energy }}, maxenergy = {{ maxenergy }}, hp = {{ hp }}, maxhp = {{ maxhp }}, damage = {{damage}}, armor = {{armor}}, skill = {{skill}}, gold = {{gold}};
    var socket = io('/profil');    
        
    function setprice() {
        $("#penergy").text($("#maxenergy").text()*5);
        $("#php").text($("#maxhp").text()*2-10);
        $("#pdamage").text($("#damage").text()*3+25);
        $("#parmor").text($("#armor").text()*3+25);
        $("#pskill").text($("#skill").text()*3+25);
    }
    
    function socketio(){
        socket.on("energyupdate", function(data){
            $("#energy").text(data);
        });
        socket.on("hpupdate", function(data){
            $("#hp").text(data);
        });
        socket.on("addmaxenergy", function(data){
            $("#energy").text(data[0]);
            $("#maxenergy").text(data[1]);
            $("#gold").text(data[2]);
            $.notify("Podniesiono Energię do "+data[1],"success");
            setprice();
        });
        socket.on("addmaxhp", function(data){
            $("#hp").text(data[0]);
            $("#maxhp").text(data[1]);
            $("#gold").text(data[2]);
            $.notify("Podniesiono Zdrowie do "+data[1],"success");
            setprice();
        });
        socket.on("adddamage", function(data){
            $("#damage").text(data[0]);
            $("#gold").text(data[1]);
            $.notify("Podniesiono Obrażenia do "+data[0],"success");
            setprice();
        });
        socket.on("addarmor", function(data){
            $("#armor").text(data[0]);
            $("#gold").text(data[1]);
            $.notify("Podniesiono Pancerz do "+data[0],"success");
            setprice();
        });
        socket.on("addskill", function(data){
            $("#skill").text(data[0]);
            $("#gold").text(data[1]);
            $.notify("Podniesiono Umiejętności do "+data[0],"success");
            setprice();
        });
    }
    
    function setvalues() { $(".stat").attr("id",function(index,currentvalue) {
        $(this).text(eval(currentvalue));
    }); }
    
    $(document).ready(function() {
        setvalues();
        socketio();
        setprice();
    });

    $(".add").click(function(e) {
        var element = e.target;
        socket.emit("addstat", $(element).attr("id"));
    });

</script>
