{{name}} {{points}}
<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Energia</th>
            <td>{{energy}}/{{maxenergy}}</td>
        </tr>
        <tr>
            <th scope="row">Zdrowie</th>
            <td>{{hp}}/{{maxhp}}</td>
        </tr>
        <tr>
            <th scope="row">Obrażenia</th>
            <td>{{damage}}</td>
        </tr>
        <tr>
            <th scope="row">Pancerz</th>
            <td>{{armor}}</td>
        </tr>
        <tr>
            <th scope="row">Wyszkolenie</th>
            <td>{{skill}}</td>
        </tr>
        <tr>
            <th scope="row">Złoto</th>
            <td>{{gold}}</td>
        </tr>
</table>
