Energia: <span id="energy">{{hero.0.energy}}</span>/<span id="maxenergy">{{hero.0.maxenergy}}</span><br>Złoto: <span id="gold">{{hero.0.gold}}</span><br>
<table class="table table-striped">
    <tbody>
        <tr>
            <th></th>
            <th>Zajęcie</th>
            <th>Szansa powodzenia</th>
            <th>Koszt energii</th>
            <th>Nagroda (Złoto)</th>
        </tr>
        {{#each jobs}}
        <tr>
            <td>
                <image src="{{image}}"></image>
            </td>
            <td>{{name}}</td>
            <td>{{chance}}%</td>
            <td>{{energy}}</td>
            <td>{{gold}}</td>
            <td><button id="{{id}}" class="gob">Wykonaj</button></td>
        </tr>
        {{/each}}
</table>

<script>
    var socket = io('/zajecia');

    function socketio() {
        socket.on("energyupdate", function(data) {
            $("#energy").text(data);
        });
        socket.on("fail", function(data) {
            $.notify("Misja zakończona niepowodzeniem");
            $("#energy").text(data);
        });
        socket.on("success", function(data) {
            $.notify("Misja zakończona powodzeniem, zdobyłeś " + data[2] + " złota", "success");
            $("#energy").text(data[0]);
            $("#gold").text(data[1]);
        });
    }

    $(document).ready(function() {
        socketio();
    });

    $(".gob").click(function(e) {
        var element = e.target;
        socket.emit("dojob", $(element).attr("id"));
    });

</script>
